
 .switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
  }
  
  .switch input {
    opacity: 0;
  
  }
  .div2{
    position: fixed;
    left: 45%;
    top: 10%;
    margin: 15px 0 0 0; 
    @media (max-width:1080px) {
    left: 39%;
    top: 10%;  
  }
  }
  .slider {
    
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CEE6F3;
    transition: 0.4s;
  }
  .slider:before {
    position:absolute;
    content:"chat";
    height:40px;
    width:100px;
    left:4px;
    bottom:4px;
    background-color: #068FFF;
    transition:0.4s;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color:white; 
  }

  div::-webkit-scrollbar{
    display: none;
  }
  
  input:checked+.slider:before {
    transform:translateX(90px);
    content: "code";
    font-size: larger;
  }
  .back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
  }
  .chat{
    
    font-size: small;
    color: #7e9bb2;
    width: 40%;
  }
  .code{
    font-size: small;
    color: #7e9bb2;
    width: 40%;
    margin:0 0 0 20px;
   
  }