div::-webkit-scrollbar {
    display: none;
}

.logo_name {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0px;
    height: 35px;

}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfecf3;
    color: #7e9bb2;
    font-weight: 600;
    font-size: larger;
    width: 90%; 
    height: 35px;
    margin:auto;
    padding: 10px;
    position: fixed;
    left: 4%;
    top: 1%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.top-log {

    font-weight: 900;
    font-size: x-large;

}

img {
    opacity: 0.9;
}