.root1{
    width:1000px;
    height:1000px;
    background-color: blue;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.ide{
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    /* padding: 10px; */
    overflow: hidden;
    background-color:wheat;
    margin:30px;
    @media (min-width:1080px) {
        margin:40px 20% 50px 20%;
        /* padding:0 */
        
    }

}